<h1><%= @item.id ? "Edit Item" : "New Item" %></h1>
<hr />
<%= form_for [@department, @item]  do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true, autofocus: true %>

    <%= f.label :body %>
    <%= f.text_area :body, required: true, autofocus: true %>


    <%= f.submit %>
    <% end %>